[Unit]
Description=a HTTP server for serving covers from music files
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/mpdcoverserver -p 8000 /var/lib/mpd/music
StandardOutput=journal
Environment="LANG=en_US.UTF-8"

[Install]
WantedBy=multi-user.target
